[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
numpy = "*"
pandas = "*"
ruff = "*"
sqlfluff = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"

[requires]
python_version = "*"
